<?xml version="1.0"?>
<model>
  <name>track_cross_intersection</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>walteramador</name>
    <email>amadorwalter3418@gmail.com</email>
  </author>

  <description>
    Modular cross intersection (1.5 m arms) with sidelines and dashed centrelines.
  </description>
</model>
